.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

.navbarLeft {
}

.title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.navbarRight {
}
