.item {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.title {
  margin-right: 20px;
  font-size: 1em;
  font-weight: 500;
}

.date {
  font-size: 12px;
  color: #999;
  line-height: 1.8em;
}

.desc {
  margin: 10px 0;
  line-height: 1.8em;
  font-size: 16px;
}
